In [7]:
import snowflake.connector
import pandas as pd
print("Snowflake connection is opening..")
cnn=snowflake.connector.connect(
    user='ARMOHAPA7512',
    password='Arab!1991',
    account='jr72122.ap-south-1',
    warehouse='PROJECT_WAREHOUSE',
    database='PROJEC_DATABASE',
    schema='PROJECT_SCHEMA'
)
cs=cnn.cursor()
sql='select * from CUSTOMERS;'
cs.execute(sql)
cs.fetch_pandas_all()
print("1st table got read")

sql="select * from CUSTOMERS_TEST;"
cs.execute(sql)
cs.fetch_pandas_all()
print("2ND table got read ")

sql="select * from CUSTOMERS C left join CUSTOMERS_TEST C_T WHERE C.NAME=C_T.NAME_TEST;"
cs.execute(sql)

df_result=cs.fetch_pandas_all()
cs.close()
print("Closing the cursor")
cnn.close()
print("closing the connection")
print("Printing the resulting after join in SQL")
print(df_result.head(10))


print("Operation is done ")

Snowflake connection is opening..
1st table got read
2ND table got read
Closing the cursor
closing the connection
Printing the resulting after join in SQL
   NAME  BALANCE NAME_TEST  BALANCE_TEST
0  Mark       10      Mark            10
1  Mark       10      Mark            10
2  Mark       10      Mark            10
3  Mark       10      Mark            10
4  Mark       10      Mark            10
5  Mark       10      Mark            10
6  Mark       10      Mark            10
7  Mark       10      Mark            10
8  Mark       10      Mark            10
9  Mark       10      Mark            10
Operation is done